<p id="notice"><%= notice %></p>

<p>
  <b>Building name:</b>
  <%= @condo.building_name %>
</p>

<p>
  <b>Unit number:</b>
  <%= @condo.unit_number %>
</p>

<p>
  <b>Floor:</b>
  <%= @condo.floor %>
</p>


<%= link_to 'Edit', edit_condo_path(@condo) %> |
<%= link_to 'Back', condos_path %>
