= semantic_form_for @property, :url => admin_properties_path do |form|
  = form.inputs :name => "Property" do
    = form.input :name
    = form.input :description
    = form.input :expires_at
    
  = form.buttons do
    = form.commit_button