= semantic_form_for @property, :url => admin_properties_path do |form|
  = form.inputs
  
  = form.semantic_fields_for :property_photos, :html => {:multipart => true} do |property_photo|
    = property_photo.input :photo, :as => :file
    
  = form.buttons do
    = form.commit_button
    
    